.map{
  &__title{
    .flex(row, flex-start, flex-end);
  }
  &__main-title{
    font-weight: 500;
    color: #0054b9;
  }
  &__add-title{
    margin-left: 12px;
    font-size: 13px;
    color: #0054b9;
  }
  &__content{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__value{
    font-size: 28px;
  }
  &__text{
    margin-top: 10px;
    .flex(row, flex-start, center);
    font-size: 13px;
    div:not(:nth-child(1)){
      margin-left: 10px;
    }
  }
}