.news{
  width: 550px;
  .flex(column);
  align-items: flex-start;

  &__tabs{
    width: 100%;
    .flex(row, flex-start, center);
  }

  &__tab-item{
    font-size: 16px;
    font-weight: 600;
    color: @light-blue-widget-title;
    margin-right: 12px;
    letter-spacing: 0.1px;

    &:nth-child(1){
      color: @blue-widget-title;
      letter-spacing: 0.08px;
    }

    &:nth-child(4){
      color: @orange-widget-title;
      font-size: 13px;
      margin-top: 1px;
    }
  }
  &__time{
    color: @light-gray-font;
    font-size: 12px;
    margin-top: 9px;
    letter-spacing: 0.8px;
  }
  &__list{
    margin-top: 2px;

  }
  &__list-icon{
    position: absolute;
    left: -21px;
    top: 1px;
    width: 14px;
    height: 14px;

    background-size: cover;
  }
  &__list-text{
    display: inline;
  }
  &__list-item{
    position: relative;
    font-size: 14px;
    margin-top: 8px;
  }
  &__stocks{
    margin-top: 9px;
    margin-right: 1px;
    font-size: 13px;
  }
  &__stocks-link{
    font-weight: 500;
    letter-spacing: 0.6px;
    margin-right: 2px;
  }
  &__stocks-value{
    letter-spacing: 0.4px;
    margin-right: 3px;
  }
  &__stocks-cell{
    color: @light-gray-widget-stock;
    font-weight: 300;
    font-size: 12.5px;
    margin-right: 8px;
    letter-spacing: 0.7px;
  }
}