.outside-widgets{
  margin-top: 120px;
  font-family: @font-yandex;
  width: 100%;
  &__container{
    margin: auto;
    width: 918px;
    .flex(row,flex-start,flex-start);
  }
  &__item{
    width: 250px;
    margin-left: 29px;
    &:nth-child(1){
      margin-left: 0;
    }
  }
}