.traffic {
  &__title {
    .flex(row, flex-start, flex-end);
  }

  &__main-title {
    font-weight: 500;
    color: @blue-widget-title;
    letter-spacing: 0.1px;
  }

  &__content {
    .flex(row, flex-start, center);
    margin-top: 10px;
    margin-left: -1px;
  }

  &__icon {
    //
    width: 34px;
    height: 31px;
    background-image: url(//yastatic.net/s3/home-static/_/u/4/Rn42zKx5fovZRfrLwwQDJI_-E.svg);
    background-size: cover;
  }

  &__value {
    font-size: 28px;
    margin-left: 8px;
    margin-top: -1px;
  }

  &__text {
    font-size: 13px;
    margin-left: 15px;
    margin-top: -1px;
  }
}