.icon{
  opacity: .24;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center 0;

  &:hover{
    opacity: .5;
  }

  &_size_s{
    width: 16px;
    height: 16px;
    background-size: 14px;
  }
  &_size_m{
    width: 36px;
    height: 36px;
    background-size: 20px;
  }
  &_opacity{
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out;
    background-position: center 9px;
  }

  &_favorites{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='none' height='36' viewBox='0 0 36 36' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0 0h36v36h-36z' fill='%23fff'/%3E%3Cg clip-rule='evenodd' fill='%23000' fill-rule='evenodd'%3E%3Cpath d='m1.7798.4664c.32668-.211037.84956-.4664 1.50174-.4664h17.71846c1.1046 0 2 .89543 2 2s-.8954 2-2 2h-15.4c-.88366 0-1.6.71634-1.6 1.6v20.8103c0 1.1045-.89543 2-2 2s-2-.8955-2-2v-22.70726c0-.99627.429203-1.85014.888832-2.42276.239978-.298986.538978-.586499.890968-.81388z'/%3E%3Cpath d='m30.1423 7h-20.1423c-1.65685 0-3 1.34315-3 3v21c0 1.6569 1.34315 3 3 3h20.1423c2.6789 0 4.0146-3.2442 2.1122-5.1304l-7.7252-7.6595c-.3945-.3912-.3945-1.029 0-1.4202l7.7252-7.6595c1.9024-1.8862.5667-5.1304-2.1122-5.1304z'/%3E%3C/g%3E%3C/svg%3E");
  }
  &_location{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32'%3E%3Cg fill='none'%3E%3Cpath fill='%23404040' d='M13.07 3.58l-4 9.98a.5.5 0 0 1-.95-.06L7 9 2.5 7.88a.5.5 0 0 1-.06-.95l9.98-4a.5.5 0 0 1 .65.65z'/%3E%3Cpath fill='%23F12727' d='M13.07 19.58l-4 9.98a.5.5 0 0 1-.95-.06L7 25l-4.5-1.12a.5.5 0 0 1-.06-.95l9.98-4a.5.5 0 0 1 .65.65z'/%3E%3C/g%3E%3C/svg%3E");
  }
}