<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NC Internship</title>
    <link rel="stylesheet" href="src/assets/scss/general.css">
    <link rel="stylesheet" href="src/assets/styles/components/nav/nav.css">
    <link rel="stylesheet" href="src/assets/styles/components/list/list.css">
    <script src="https://kit.fontawesome.com/7b42635023.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="nav-container">
        <h1>Netcracker Internship :: DVV</h1>
    </div>
</nav>
<div class="content">
    <div class="content__container">
        <div class="list">
            <a href="/my-checkbox">
                <h2>Custom checkbox <i class="fas fa-chevron-circle-right"></i></h2>
            </a>
            <a href="/fake-yandex">
                <h2>Fake Yandex <i class="fas fa-chevron-circle-right"></i></h2>
            </a>
        </div>
    </div>
</div>
</body>
</html>