<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NC Internship</title>
    <link rel="stylesheet" href="src/assets/general.css">
    <link rel="stylesheet" href="src/components/nav/nav.css">
    <link rel="stylesheet" href="src/components/my-checkbox/my-checkbox.css">
    <script src="https://kit.fontawesome.com/7b42635023.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div class="nav-container">
        <h1>Netcracker Internship :: Homework 1</h1>
    </div>
</nav>
<div class="content">
    <div class="content__container">
        <h2>Кастомное оформление чекбоксов</h2>
        <div class="my-checkbox">
            <input type="checkbox" class="my-checkbox__input" id="checkbox1"/>
            <label for="checkbox1" class="my-checkbox__icon">
                <i class="fas fa-check"></i>
                <i class="far fa-square"></i>
            </label>
            <label for="checkbox1" class="my-checkbox__label">With checked & active & hover</label>
        </div>
        <div class="my-checkbox">
            <input type="checkbox" class="my-checkbox__input" id="checkbox2" disabled/>
            <label for="checkbox2" class="my-checkbox__icon">
                <i class="fas fa-check"></i>
                <i class="far fa-square"></i>
            </label>
            <label for="checkbox2" class="my-checkbox__label">With checked & active & hover</label>
        </div>
    </div>
</div>
</body>
</html>