<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Яндекс</title>
    <script src="https://kit.fontawesome.com/7b42635023.js" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/briangonzalez/rgbaster.js/b2fb235b/rgbaster.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="headline">
    <div class="headline__left-corner">
        <div class="headline__city">
            <div class="headline__city-icon"></div>
            <a href="https://yandex.ru/tune/geo?retpath=https%3A%2F%2Fyandex.ru%2F&nosync=1">
                Одинцово
            </a>
        </div>
        <div class="headline__confidence">
            <a href="https://yandex.ru/promo/set/portal_safari/home_safari?from=link_morda_safari&utm_medium=link&utm_source=main&utm_campaign=link_morda_S&c=1&banerid=0101003980">
                Конфиденциальность
            </a>
        </div>
    </div>
    <div class="headline__right-corner">
        <a href="https://yandex.ru/collections/" class="headline__collections">
            <div class="icon icon_favorites icon_size_m icon_opacity"></div>
        </a>
        <a href="https://yandex.ru/collections/" class="headline__notifications">
            <svg class="notifier__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" focusable="false"><path class="notifier__clapper" d="M18 30a3 3 0 0 0 3-3c0-1.657-1.5 0-3-17-1.5 17-3 15.343-3 17a3 3 0 0 0 3 3z"></path><path class="notifier__bell" d="M15.687 12.5l.3-.164a1.5 1.5 0 0 0 .75-1.021l.142-.712a.75.75 0 0 1 .736-.603h.77a.75.75 0 0 1 .736.603l.142.712a1.5 1.5 0 0 0 .75 1.02l.3.165a5.586 5.586 0 0 1 3.24 4.47l.54 4.863c.1.906.563 1.733 1.282 2.292l.354.275a1.5 1.5 0 0 1 .534 1.548L26.25 26a1.32 1.32 0 0 1-1.28 1H11.03a1.32 1.32 0 0 1-1.28-1l-.013-.052a1.5 1.5 0 0 1 .534-1.548l.354-.275a3.375 3.375 0 0 0 1.282-2.292l.54-4.864a5.586 5.586 0 0 1 3.24-4.469z"></path></svg>
        </a>
        <a href="https://yandex.ru/collections/" class="headline__settings">
            Настройка
        </a>
    </div>
</div>

<div class="widgets">
    <div class="widgets__container">
        <div class="news">
            <div class="news__tabs">
                <div class="news__tab-item">
                    <a href="">Сейчас в СМИ</a>
                </div>
                <div class="news__tab-item">
                    <a href="">Москва и область</a>
                </div>
                <div class="news__tab-item">
                    <a href="">Интересное</a>
                </div>
                <div class="news__tab-item">
                    <a href="">Коронавирус</a>
                </div>
            </div>
            <div class="news__time">
                3.11, 12:02
            </div>
            <div class="news__list">
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/50744/1013-1496416510291-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        <a href="">Минздрав обещает россиянам бесплатную вакцинацию от коронавируса</a>
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/26056/1047-1478692902215-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        <a href="">Собянин заявил, что распространение коронавируса в Москве замедляется</a>
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/135513/1040-1478692902361-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        <a href="">ЦБ сохранил ключевую ставку на уровне 4,25%</a>
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/41096/8352-1506595261741-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        <a href="">Путин дал рекомендации регионам по коронавирусным ограничениям</a>
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/50744/1013-1496416510291-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        <a href="">Глава НКР попросил у Путина помощи в урегулировании конфликта в Карабахе</a>
                    </div>
                </div>
            </div>
            <div class="news__stocks">
                <a href=""><span class="news__stocks-link">USD </span></a>
                <span class="news__stocks-value">76,20 </span>
                <span class="news__stocks-cell">-0.38 </span>
                <span class="news__stocks-link">EUR </span>
                <span class="news__stocks-value">90,19 </span>
                <span class="news__stocks-cell">-0,34 </span>
                <span class="news__stocks-link">НЕФТЬ </span>
                <span class="news__stocks-value">42,44 </span>
                <span class="news__stocks-cell">-0,07% </span>
            </div>
        </div>
        <div class="teaser">
            <div class="teaser__image">
                <!--            https://avatars.mds.yandex.net/get-banana/49904/x25DiU8KJX7rFofibrQbBj4Jd_banana_20161021_woman2x.png/orig-->
            </div>
            <div class="teaser__title">
                <a href="">Яндекс приглашает на чемпионат</a>
            </div>
            <div class="teaser__description">
                по программированию
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="services__container">
        <!-- Это генерится в js-->
    </div>
</div>

<div class="search">
    <div class="search__container">
        <a href="https://yandex.ru">
            <div class="search__logo"></div>
        </a>
        <div class="search__wrapper">
            <div class="search__input-container">
                <input class="search__input" type="text" placeholder="">
                <button class="search__button">Найти</button>
            </div>
            <div class="search__angle">

            </div>
        </div>
        <div class="search__slogan">
            Найдётся всё. Например, <a href="vk.com/dvv2423">Яндекс.Уроки</a>
        </div>
    </div>
</div>

<div class="ad">
    <div class="ad__container">
        <div class="ad__image"></div>
    </div>
</div>

<div class="outside-widgets">
    <div class="outside-widgets__container">
        <div class="outside-widgets__item weather">
            <div class="weather__title">
                <div class="weather__main-title">
                    <a href="">Погода</a>
                </div>
                <div class="weather__add-title">
                    <a href="">Карта осадков</a>
                </div>
            </div>
            <div class="weather__content">
                <div class="weather__icon"></div>
                <div class="weather__value">
                    +8&#176;
                </div>
                <div class="weather__text">
                    <div class="weather__evening">
                        Вечером +7,
                    </div>
                    <div class="weather__night">
                        ночью +5
                    </div>
                </div>
            </div>
        </div>
        <div class="outside-widgets__item traffic">
            <div class="traffic__title">
                <div class="traffic__main-title">
                    <a href="">Пробки</a>
                </div>
            </div>
            <div class="traffic__content">
                <div class="traffic__icon"></div>
                <div class="traffic__value">
                    5
                </div>
                <div class="traffic__text">
                    Движение плотное
                </div>
            </div>
        </div>
        <div class="outside-widgets__item map">
            <div class="map__title">
                <div class="map__main-title">
                    <a href="">Карта Одинцово</a>
                </div>
            </div>
            <div class="map__content">
                <div class="map__text">
                    <div class="map__metro">
                        <a href="">Метро</a>
                    </div>
                    <div class="map__rasp">
                        <a href="">Расписание</a>
                    </div>
                    <div class="map__taxi">
                        <a href="">Такси</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desk-notif">
    <div class="desk-notif__card mail">
        <a href=""><div class="mail__avatar"></div></a>
        <div class="mail__menu">
            <div class="mail__menu-item"><a href="">dvv2423</a></div>
            <div class="mail__menu-item">
                <a href="">Почта</a>
                <span>2785</span>
            </div>
            <div class="mail__menu-item"><a href="">Написать письмо</a></div>
            <div class="mail__menu-item"><a href="">Диск</a></div>
            <div class="mail__menu-item"><a href="">Получить Плюс</a></div>
        </div>
    </div>
    <div class="desk-notif__card covid">
        <div class="covid__content">
            <div class="covid__title">Коронавирус</div>
            <div class="covid__text">
                567 случаев заболевания коронавирусом выявлено в Подмосковье за сутки
            </div>
            <div class="covid__channel">
                <div class="covid__channel-icon"></div>
                <div class="covid__channel-name">Оперштаб области</div>
            </div>
        </div>
        <div class="covid__dots">
            <div class="covid__dot"></div>
            <div class="covid__dot"></div>
            <div class="covid__dot"></div>
            <div class="covid__dot _active"></div>
            <div class="covid__dot"></div>
        </div>
        <div class="covid__fix-container">
            <div class="covid__fix-icon" onclick="fixCovid()">
                <i class="fas fa-lock-open"></i>
            </div>
        </div>

    </div>
<!--    <div class="desk-notif__card offers">-->

<!--    </div>-->
</div>

<div class="zen">
    <div class="zen__container">
        <div class="zen__title-bar">
            <div class="zen__title-text">
                Дзен
            </div>
            <div class="zen__title-desc">
                Публикации на основе ваших интересов
            </div>
        </div>
        <div class="zen__content">

        </div>
    </div>
</div>

<script src="yandex.js"></script>
<script src="zen.js"></script>
</body>
</html>