<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Яндекс</title>
    <script src="https://kit.fontawesome.com/7b42635023.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<div class="headline">
    <div class="headline__left-corner">
        <div class="headline__city">
            <div class="headline__city-icon"></div>
            <a href="https://yandex.ru/tune/geo?retpath=https%3A%2F%2Fyandex.ru%2F&nosync=1">
                Одинцово
            </a>
        </div>
        <div class="headline__make-start">
            <a href="https://yandex.ru/promo/set/portal_safari/home_safari?from=link_morda_safari&utm_medium=link&utm_source=main&utm_campaign=link_morda_S&c=1&banerid=0101003980">
                Сделать стартовой
            </a>
        </div>
        <div class="headline__confidence">
            <a href="https://yandex.ru/promo/set/portal_safari/home_safari?from=link_morda_safari&utm_medium=link&utm_source=main&utm_campaign=link_morda_S&c=1&banerid=0101003980">
                Конфиденциальность
            </a>
        </div>
    </div>
    <div class="headline__right-corner">
        <a href="https://yandex.ru/collections/">
            <div class="icon icon_favorites icon_size_m icon_opacity"></div>
        </a>
    </div>
</div>

<div class="widgets">
    <div class="widgets__container">
        <div class="news">
            <div class="news__tabs">
                <div class="news__tab-item news__tab-item_first">
                    Сейчас в СМИ
                </div>
                <div class="news__tab-item">
                    Москва и область
                </div>
                <div class="news__tab-item">
                    Интересное
                </div>
                <div class="news__tab-item news__tab-item_last">
                    Коронавирус
                </div>
            </div>
            <div class="news__time">
                23.10, 18:33
            </div>
            <div class="news__list">
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/50744/1013-1496416510291-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        Минздрав обещает россиянам бесплатную вакцинацию от коронавируса
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/26056/1047-1478692902215-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        Собянин заявил, что распространение коронавируса в Москве замедляется
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/135513/1040-1478692902361-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        ЦБ сохранил ключевую ставку на уровне 4,25%
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/41096/8352-1506595261741-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        Путин дал рекомендации регионам по коронавирусным ограничениям
                    </div>
                </div>
                <div class="news__list-item">
                    <div class="news__list-icon" style="background: url('https://avatars.mds.yandex.net/get-ynews-logo/50744/1013-1496416510291-square/logo-square') center center; background-size: cover;"></div>
                    <div class="news__list-text">
                        Глава НКР попросил у Путина помощи в урегулировании конфликта в Карабахе
                    </div>
                </div>
            </div>
            <div class="news__stocks">
                <span class="news__stocks-link">USD </span>
                <span class="news__stocks-value">76,20 </span>
                <span class="news__stocks-cell">-0.38 </span>
                <span class="news__stocks-link">EUR </span>
                <span class="news__stocks-value">90,19 </span>
                <span class="news__stocks-cell">-0,34 </span>
                <span class="news__stocks-link">НЕФТЬ </span>
                <span class="news__stocks-value">42,44 </span>
                <span class="news__stocks-cell">-0,07% </span>
            </div>
        </div>
        <div class="teaser">
            <div class="teaser__image">
                <!--            https://avatars.mds.yandex.net/get-banana/49904/x25DiU8KJX7rFofibrQbBj4Jd_banana_20161021_woman2x.png/orig-->
            </div>
            <div class="teaser__title">
                Яндекс приглашает на чемпионат
            </div>
            <div class="teaser__description">
                по программированию
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="services__container">
        <!-- Это генерится в js-->
    </div>
</div>

<div class="search">
    <div class="search__container">
        <a href="https://yandex.ru">
            <div class="search__logo"></div>
        </a>
        <div class="search__wrapper">
            <div class="search__input-container">
                <input class="search__input" type="text" placeholder="">
                <button class="search__button">Найти</button>
            </div>
            <div class="search__angle">

            </div>
        </div>
        <div class="search__slogan">
            Найдётся всё. Например, <a href="vk.com/dvv2423">Яндекс.Уроки</a>
        </div>
    </div>
</div>

<div class="outside-widgets">
    <div class="outside-widgets__container">
        <div class="outside-widgets__item weather">
            <div class="weather__title">
                <div class="weather__main-title">
                    Погода
                </div>
                <div class="weather__add-title">
                    Карта осадков
                </div>
            </div>
            <div class="weather__content">
                <div class="weather__icon"></div>
                <div class="weather__value">
                    +10&#176;
                </div>
                <div class="weather__text">
                    <div class="weather__evening">
                        Вечером +7
                    </div>
                    <div class="weather__night">
                        Ночью +5
                    </div>
                </div>
            </div>
        </div>
        <div class="outside-widgets__item traffic">
            <div class="traffic__title">
                <div class="traffic__main-title">
                    Пробки
                </div>
            </div>
            <div class="traffic__content">
                <div class="traffic__icon"></div>
                <div class="traffic__value">
                    5
                </div>
                <div class="traffic__text">
                    Движение плотное
                </div>
            </div>
        </div>
        <div class="outside-widgets__item map">
            <div class="map__title">
                <div class="map__main-title">
                    Карта Одинцово
                </div>
            </div>
            <div class="map__content">
                <div class="map__text">
                    <div class="map__metro">
                        Метро
                    </div>
                    <div class="map__rasp">
                        Расписание
                    </div>
                    <div class="map__taxi">
                        Такси
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="desk-notif">
    <div class="desk-notif__card mail">

    </div>
    <div class="desk-notif__card covid">

    </div>
    <div class="desk-notif__card offers">

    </div>
</div>

<script src="yandex.js"></script>
</body>
</html>