<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Яндекс</title>
    <script src="https://kit.fontawesome.com/7b42635023.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="src/assets/fonts/Helvetica_Neue/stylesheet.css">
    <link rel="stylesheet" href="src/assets/fonts/YS_Text/stylesheet.css">
    <link rel="stylesheet" href="src/components/yandex/yandex.css">
    <link rel="stylesheet" href="src/components/headline/headline.css">
    <link rel="stylesheet" href="src/components/icon/icon.css">
    <link rel="stylesheet" href="src/components/search/search.css">
    <link rel="stylesheet" href="src/components/services/services.css">
</head>
<body>

<div class="headline">
    <div class="headline__left-corner">
        <div class="headline__city">
            <div class="icon icon_location icon_size_s"></div>
            <a href="https://yandex.ru/tune/geo?retpath=https%3A%2F%2Fyandex.ru%2F&nosync=1">
                Москва
            </a>
        </div>
        <div class="headline__datetime">
            20 октября, вторник <a href="https://yandex.ru/time/">15:53</a>
        </div>
        <div class="headline__make-start">
            <a href="https://yandex.ru/promo/set/portal_safari/home_safari?from=link_morda_safari&utm_medium=link&utm_source=main&utm_campaign=link_morda_S&c=1&banerid=0101003980">
                Сделать стартовой
            </a>
        </div>
    </div>
    <div class="headline__right-corner">
        <a href="https://yandex.ru/collections/">
            <div class="icon icon_favorites icon_size_m icon_opacity"></div>
        </a>
    </div>
</div>

<div class="services">
    <div class="services__item">
        <div class="services__image" id="service-1"></div>
        <div class="services__title">Видео</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-2"></div>
        <div class="services__title">Картинки</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-3"></div>
        <div class="services__title">Новости</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-4"></div>
        <div class="services__title">Карты</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-5"></div>
        <div class="services__title">Маркет</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-6"></div>
        <div class="services__title">Переводчик</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-7"></div>
        <div class="services__title">Музыка</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-8"></div>
        <div class="services__title">Программа</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-9"></div>
        <div class="services__title">Авто.ру</div>
    </div>
    <div class="services__item">
        <div class="services__image" id="service-10"></div>
        <div class="services__title">ещё</div>
    </div>
</div>

<div class="search">
    <a href="https://yandex.ru">
        <div class="search__logo"></div>
    </a>

    <div class="search__wrapper">
        <div class="search__input-container">
            <input class="search__input" type="text" placeholder="Найдётся всё">
            <button class="search__button">Найти</button>
        </div>

        <div class="search__angle">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="46" class="search__rounded-arrow" preserveAspectRatio="none" viewBox="0 0 17 40"><path d="M1 1l1.663.034c1.761 0 3.391.926 4.294 2.438l8.337 13.968a5 5 0 0 1 .002 5.122l-8.34 13.997A5 5 0 0 1 2.66 39L1 38.967z" stroke-width="2"></path><defs><linearGradient id="l" x2="0" y2="40" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffbb03"></stop><stop offset="1" stop-color="#ffd108"></stop></linearGradient><linearGradient id="h" x2="0" y2="40" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffa702"></stop><stop offset="1" stop-color="#ffd108"></stop></linearGradient><linearGradient id="a" x2="0" y2="40" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff9801"></stop><stop offset="1" stop-color="#ffc205"></stop></linearGradient></defs></svg>
        </div>
    </div>
</div>

</body>
</html>